{% extends "base.html" %}


{% block title %}Cattywampus - Files{% endblock %}



{% block content %}


<div class="container">

  <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-10">
        <h1 class="page-header">{{ dirname }}</h1>
        <p class="lead">
        Showing {{ dirstats.numdirs }} directories and {{ dirstats.numfiles}} files ({{ dirstats.total_filesize | bytes_to_human }})</p>
          <table class="table table-striped">
              <tr>
                <th width="15%">last modified</th>
                <th width="15%"></th>
                <th width="5%">filesize</th>
                <th width="50%">path</th>
                <th width="15%">
                  <button type="button" class="btn btn-default btn-sm pull-right">
                        <a href="{{ parent_dir_url }}"><span class='glyphicon glyphicon-level-up'></span></a>
                      </button></th>
                <!-- <th width="5%"></th> -->
              </tr>
              {% for obj in objects %}
                <tr>
                    <td>
                      {% if obj.is_dir %}
                        -
                      {% else %}
                        {{ obj.last_modified | format_date }}
                      {% endif %}
                    </td>
                    <td>
                    {% if obj.is_dir %}
                      -
                    {% else %}
                      {{ obj.last_modified | timesince }}
                    {% endif %}
                    <td style="text-align: right;">
                    {% if obj.is_dir %}
                      -
                      {% else %}
                      {{ obj.size | bytes_to_human }}
                    {% endif %}
                      </td>

                    <td>
                      <a href="{{ url_for('list_files', path='')}}{{ obj.truncated_path }}">
                      {% if obj.is_dir %}
                      <b>{{ obj.filename }}</b>{% else %}{{ obj.filename}}{% endif %}</a>
                    </td>
                    <td>
                      <div class="btn-group pull-right" role="group" aria-label="...">
                            {% if not obj.is_dir %}
                            <button type="button" class="btn btn-default btn-sm" >
                              <a href="{{ url_for('download_file', path='')}}{{ obj.truncated_path }}" ><span class='glyphicon glyphicon-floppy-disk' download></span></a></button>
                            {% endif %}
                            
                      <button type="button" class="btn btn-default btn-sm"  data-clipboard-text="{{ obj.path }}">
                        <span class='glyphicon glyphicon-copy'></span>
                      </button>
                      </div>
                    </td>
                </tr>
              {% endfor %}
          </table>
      </div>
      <div class="col-md-1"></div>
  </div>
</div>

<footer class="blog-footer">
  <p>Page generated at {{ now | format_time }} server time.</p>
</footer>

<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.8/clipboard.min.js"></script>
<script>
  var btns = document.querySelectorAll('button');
    var clipboard = new Clipboard(btns);
  </script>
{% endblock %}